body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}


.wrapper{
    background: url(asserts/About-us/about-title-image-1.jpg) center/cover repeat-y fixed;
    position: relative;
}

/* Header Section */
header{
    display: flex;
    justify-content: space-between;
    padding:30px 60px;
    position: fixed; 
    width: 100%; 
    
    box-sizing: border-box; 
    z-index: 999; 
}
.nav,.nav ul,.logos,.logos-1{
    display: flex;
    gap: 50px;
}
.nav ul{
    list-style: none;
    font-size: 12.5px;
    letter-spacing: 3px;
}
.nav a:hover{
    color: #b67453;
}
.logos{
    margin-top: 10px;
}
.logos-1{
    font-size: 14px;
    gap: 20px;
}

/* Hero Section */
.hero{
    padding:137px 270px 102px;
    text-align: center;
}
#p1{
    font-family: 'Playfair Display';
    font-size: 80px;
    margin: 0;
}
#p3{
    color: #b97c5e;
    font-size: 15px;
    font-family: "Montserrat";
    font-style: italic;
    letter-spacing: 1px;
    margin: 0;
}

/* Side Section */
.side{
    position: fixed;     
    right: 0;            
    bottom: 0;       
    z-index: 999; 
}
.inner-side{
    position: absolute;
    right: 0;
    bottom: 100px;
}
.side .top{
    display: flex;
    gap: 10px;
    padding:0px 20px ;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
}
.side .top,.side .bottom{   
    width: 120px;
    font-size: 14px;
}
.side .bottom{
    padding:20px;
    background-color: #f21e4e;
    color: white;
}
.dig{
    font-size: 24px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 0;
}

/* Shopping Section */
.shop{
    display: flex;
    padding: 100px 80px;
    gap: 50px;
}
/* Shop-1 Section */
.shop-1{
    width: 820px;
    margin-top: 20px;
}
select{
    color: gray;
    padding:13px 20px;
    font-family: 'Montserrat';
    font-size: 15px;
    outline: none;
}
.drop-box{
    display: flex;
    justify-content: space-between;
}
.drop-box p{
    color: #8d8787;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
}
/* Cards Section */
.cards{
    display: flex;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.product-title{
    font-family: 'Playfair Display';
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 6px;
    color: black;
    margin: 10px;
}
del{
    font-size: 14px;
    color: #b97c5e;
}
.amount{
    color: #afafaf;
    font-size: 14px;
    font-weight: 600;
}
.card{
    position: relative;
    justify-content: center;
    text-align: center;
}
.sale{
    position: absolute;
    color: white;
    background-color: #97c4d9;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3.3px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -25px;
    left: 15px;
    z-index: 999;
}
.hover{
    position: absolute;
    width:255px;
    height:328px;
    background-color: rgb(255,255,255,0.8);
    top: 0;
    left: 0;
    visibility: hidden;
}
.hover a{
    display: inline-block;
    background-color: #b97c5e;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3.3px;
    padding: 20px 40px;
    margin-top: 125px;
}
.card:hover .hover{
        visibility: visible;
}
.card:hover .product-title{
        color: #b97c5e;
}
.hover a:hover{
    background-color: black;
}


/* Shop-2 Section */
.shop-2 h2{
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}
#range{
    display: inline-block;
    width: 200px;
    accent-color: #b67453;
    height: 4px;
}
#filter{
    display: inline-block;
    background-color:#b97c5e;
    padding: 20px 30px;
    color: white;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin: 20px 0;
}
#filter:hover{
    background-color: black;
}
#price{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}






/* Footer */
footer{
    background-image: url(asserts/gallery/home-background-2.jpg);
    padding: 100px 70px 0;
}
.foot-top{
    display: flex;
    gap: 150px;
    margin-bottom: 60px;
}
.foot-inner h4{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    letter-spacing: 3.3px;
    font-weight: 600;
    margin-bottom: 30px;
}
.inner-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.foot-inner a{
    font-family: 'Playfair Display', sans-serif;
    color: #8d8787;
    font-size: 14.5px;
    font-weight: 500;
}
footer a:hover{
    color: #b97c5e;
}
hr{
    border: none;
    border-top: 1px solid #b97c5e;
}
.foot-bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.foot-bottom,.foot-bottom a{
    font-family: 'Playfair Display', sans-serif;
    color: #8d8787;
    font-size: 13px;
    font-weight: 500;
}
.foot-bottom .media{
    display: flex;
    gap: 80px;
}
.media a{
    font-size: 12px;
}