body{
    margin: 0;
}
a{
    text-decoration: none;
}

/* header Section */
header{
    position: sticky;
    top: 0px;
    z-index: 1000;
    width: 100%;
}

/* Header Section 1 */
.header1{
    background-color: rgb(83, 83, 83);
    display: flex;
    gap: 20px;
    padding: 10px 30px 6px 400px;
}
.header1 a{
    color: white;
}
.font a{
    color: white;
    border: 1px solid goldenrod;
    padding: 4px 7px ;
}
.font .change{
    font-size: 12px;
    padding: 6px;
}
.font .theme{
    border-style: none;
    padding: 4px 7px;
}
.font .dark{
    background-color: black;
}
.font .light{
    background-color: white;
    color: black;
}
.logos{
    margin-top: -6px;
}
.logos i{
    font-size: 25px;
}
.search input{
    display:inline-block;
    width: 100px;
    background-color: rgb(83, 83, 83);
    border: none;
}
.search input::placeholder{
    color: white;
    font-size: 12px;
}
form{
    border: 1px solid gold;
    padding: 2px;
    margin-top: -3px;
    font-size: 12px;
}
.network{
    margin-top: -8px;
}
.network a{
    color: white;
    margin:0 10px;
}

/* hovering effects for header section 1 */
.header1>a:hover{
    color: black;
}
.font .size:hover{
    background-color: orange;
}


/* header Section 2 */
.header2{
    background-color: rgb(255, 136, 0);
    display: flex;
    justify-content: space-between;
    font-size: larger;
    padding: 0 50px;
    font-weight: 700;
    height: 40px;
}
.header2 p{
    margin-top: 10px;
}

/* Hero Section */
.hero{
    height: 370px;
    
}
.hero .modi{
    width: 100%;
    position: relative;
}
.note{
    position: absolute;
    left: 820px;
    top: 250px;
    background-color: rgb(0, 0, 0,0.3);
    width: 370px;
    font-weight:bolder;
    font-size: 26px;
    color: white;
    padding: 10px;
}
.logo{
    position: absolute;
    display: flex;
    top: 100px;
    margin-left: 30px;
    gap: 10px;
    animation: left-slide-in 0.8s linear 0s 1;
}
.logo .emblem{
    width: 60px;
    height: 72px;
}
#flag{
    width: 50px;
    height: 35px;
}
#pm{
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-top: 0;
}

/* News Section */
.news{
    background-color: rgb(219, 218, 218);
    padding: 40px 0;
}
.news a{
    color: black;
    text-decoration: none;
}
#updates{
    text-align: center;
    font-size: 50px;
    margin: 0px 0 50px;
    animation: fade-in 1s linear 0s 1;
}
.card img{
    width: 240px;
    height: 150px;
    border: 2px solid;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: max-content;
    margin: auto;
    font-size: 10px;
    gap:50px 30px;
}
.card{
    display: flex;
    width: 600px;
    height: 200px;
    gap: 20px;
    animation: left-slide-in 1s linear 0s 1;
}
.card h2{
    font-size: 19px;
}
.card p{
    font-size: 17px;
    color: rgb(112, 112, 112);
}
.card-content{
    width: 350px;
}
.news>a{
    display:block;
    width: max-content;
    margin: auto;
    background-color: rgb(255, 136, 0);
    padding: 13px 25px;
    font-size: 15px;
}

/* Hovering effects for news section */
.card a:hover{
    text-decoration: underline;
}
.news>a:focus{
    border: 2px solid;
}

/* Gallery and info section */
a{
    color: black;
}
.info{
    display: flex;
    position: relative;
    border: 10px solid black;
    border-style: solid none;
    height: 500px;
}
.info-block{
    width: 25%;
}
.ib1{
    background:linear-gradient(rgba(0, 0, 0, 0.5)),url(asserts/gallery-photo.jpg) no-repeat ;
}
.ib2{
    background:linear-gradient(rgba(0, 0, 0, 0.5)),url(asserts/gallery-radio.jpg) no-repeat ;
}
.ib3{
    background:linear-gradient(rgba(0, 0, 0, 0.5)),url(asserts/gallery-video.jpg) no-repeat ;
}
.ib4{
    background:linear-gradient(rgba(0, 0, 0, 0.5)),url(asserts/gallery-speech.jpg) no-repeat ;
}
.ib1:hover{
    background:linear-gradient(rgba(0, 0, 0, 0)),url(asserts/gallery-photo.jpg) no-repeat;
}
.ib2:hover{
    background:linear-gradient(rgba(0, 0, 0, 0)),url(asserts/gallery-radio.jpg) no-repeat ;
}
.ib3:hover{
    background:linear-gradient(rgba(0, 0, 0, 0)),url(asserts/gallery-video.jpg) no-repeat ;
}
.ib4:hover{
    background:linear-gradient(rgba(0, 0, 0, 0)),url(asserts/gallery-speech.jpg) no-repeat ;
}
.info-content{
    position: absolute;
    background-color:  rgb(255, 136, 0);
    width: 170px;
    text-align: center;
    padding: 14px 0;
    font-size: 19px;
    top: 390px;
}
.ic1{
    left: 30px;
}
.ic2{
    left: 350px;
}
.ic3{
    right: 430px;
}
.ic4{
    right: 120px;
}
.info img{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

/* Gallery scetion hovering effects */
.info img:hover{
    opacity: 1;
}
.info-content:hover{
    border: 2px solid ;
}


/* PM ifo section */
.pminfo{
    display: flex;
    height: 900px;
    border: 10px solid white;
    border-style: solid none;
    overflow: hidden;
}
.info-1,.info-3{
    width: 38%;
    padding: 14px 7px;
}
.info-1 h1,.info-3 h1{
    font-size: 43px;
    padding-left: 20px;
}
.info-1 p,.info-3 p{
    width: 430px;
    margin: 0 auto 30px;
    font-size: 21px;
    line-height: 30px;
}
.info-1{
    background:linear-gradient(to bottom,rgba(255, 149, 0, 0.5), rgba(255, 149, 0, 0.2)),url(asserts/bg-block1.jpg) no-repeat left bottom;
}
.info-1 p,.info-1 h1,.info-1 .but1{
    animation: left-slide-in 1s linear 0s;
}
.info-3{
    background:linear-gradient(to bottom,rgba(255, 149, 0, 0.2), rgba(255, 149, 0, 0.1)),url(asserts/bg-block3.jpg) no-repeat bottom right;
}
.info-3 p,.info-3 h1,.info-3 .but1{
    animation: right-slide-in 1s linear 0s;
}
.info-2{
    width: 24%;
    background: #393c42;
}
.top{
    background: #915f5f;
    padding: 10%;
}
.middle{
    color: white;
    background: #6e4949;
    padding: 1px 0 40px;
}
.middle h1{
    text-align: center;
    margin: 10px;
}
.middle p{
    width: 240px;
    margin: 10px auto 30px;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}
.but{
    display: inline-block;
    background-color: rgb(66, 136, 241);
    padding: 15px 25px;
    border-style: none;
    font-size: 17px;
    margin-left: 30px;
}
.but1{
    margin-left: 20px;
}
.but1:focus{
    border: 2px solid;
}
.bottom{
    padding: 5px 30px;
}
.bottom a{
    color: white;
}
.pms img{
    border: 2px solid transparent;
}
.pms img:hover,.pms img:focus{
    border: 2px solid goldenrod;
}


/* Interact with PM */
.interact{
    background-color: rgb(39, 52, 100);
    color: white;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}
.interact h1{
    animation: fade-in 0.8s linear 0s 1;
    font-size: 50px;
    font-weight: 900;
}
.interact .content{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.sub-content{
    width: 300px;
    padding: 15px 0;
}
.sc1{
    animation: left-slide-in 1s linear;
}
.sc2{
    animation: right-slide-in 1s linear;
}
.interact a{
    color: white;
    font-size: 30px;
}
.interact p{
    margin: 0;
}
.sub-content:hover{
    text-decoration: underline;
}
.sub-content:focus{
    border: 2px solid rgb(55, 49, 18);
}


/* Our Government */
.our-gov{
    background-color: #393c42;
    padding: 20px 0;
    text-align: center;
    color: white;
}
.gallery{
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    width: 1200px;
    margin: auto;
}
.gallery .sub{
    height: 150px;
    overflow: hidden;
}
.sub img{
    width: 300px;
    height: 150px;
}
.sub{
    position: relative;
}
.sub i{
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
.sub h4{
    position: absolute;
    bottom:-10px;
    left: 10px;
    color: white;
    background-color: black;
    padding: 5px 15px;
}
.sub img:hover{
    transform: scale(1.3);
    transition-duration: 0.4s;
}

/* Footer */
.footer{
    background-color: #1c1d20;
    padding: 20px 30px;
    font-size: 15px;
    color: rgb(212, 212, 212);
    letter-spacing: 1px;
}
.footer a{
    color: rgb(211, 211, 211);
}
.top-footer{
    display: flex;
    gap: 50px;
}
.top-footer p{
    margin: 0;
}
.blue{
    color: rgb(101, 160, 254);
}
.nav,.web-info{
    margin-top: 10px;
}
.footer i{
    font-size: 20px;
}
.bottom-footer{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.bottom-footer p{
    margin-top: 25px;
}
.footer a:hover{
    text-decoration: underline;
}
